<div class="cover-container d-flex w-100 h-100 p-3 mx-auto mt flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand text-center">Stock Market Charting</h3>
    </div>
  </header>
  <br><br><br>
  <main role="main" class="inner-cover">
    <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="GoToAdmin()">Admin</button>
    <br><br>
    <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="GoToUser()">User</button>
  </main>
</div>
